html, body { 
    margin: 0;
    padding: 0;
    height: 100%;
}
#map {
    width: 80%;
    height: 90%;
    float: left;
}
#articles {
    width: 20%;
    height: 90%;
    float: right;
    overflow: auto;
}
#footer {
    height: 10%;
    clear: both;
    background-color: blue;
}
