html, body { 
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 2200;
}
#ajaxloader {
    padding: 1%;
    display: block;
    margin: 0 auto;
}
ul {
    padding: 0;
}
li {
    padding: 2% 3% 3% 4%;
    list-style: none;
    cursor: pointer;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-color: #B9C0C5;
    border-bottom-width: 0.1em;
}
li:last-child {
    border-bottom-width: 0em;
}
li:hover {
    background-color: #E4DADA; 
}
li.active {
    background-color: #cb2944;
}
li span {
   font-size: 1em;
    color: #000000;
    float: left;
    padding-top: 0.2em;
}
li:hover a {
    color: #756C6C;
}
li.active a {
    color: #000000;
}
li a {
    font-size: 80%;
    color: #999;
    text-decoration: none;
    float: right;
    clear: left;
    margin-top: 0.1em;
}
li a:hover {
    text-decoration: underline;
}
#map {
    height: 100%;
    width: 100%
}
#articles {
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    height: 90%;
    width: 0%;
    float: right;
    overflow: auto;
    background-color: #f4f4f4;
}
#articles.active {
    height: 100%;
    width: 100%;
}
#map.inactive {
    height: 0%;
    width: 0%;
}
@media (min-width: 750px) {
    #articles {
        width: 20%;        
    }
    #footer {
        height: 10%;
        clear: both;
        background: linear-gradient(to right, #cb2944, #f4f4f4);
    }
    #map {
        width: 80%;
        height: 90%;
        float: left;
    }
    #articles.active {
        width: 20%;
        height: 90%;
    }
    #map.inactive {
        width: 80%;
        height: 90%;
    }
}
#articlesShow {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}
