html, body { 
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 2200;
    background-color: #E4DADA;
}
#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.leaflet-clickable {
    cursor: pointer;
}
#sidebar {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
    top: 0;
    right: -100%;
    background-color: #E4DADA;
    -webkit-transition: right 0.5s;
     -moz-transition: right 0.5s;
      -ms-transition: right 0.5s;
       -o-transition: right 0.5s;
          transition: right 0.5s;
}
#sidebar.active {
    right: 0;
}
ul {
    padding: 0;
}
li {
    padding: 2% 3% 3% 4%;
    list-style: none;
    cursor: pointer;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-color: #B9C0C5;
    border-bottom-width: 0.1em;
}
li:last-child {
    border-bottom-width: 0em;
}
li span {
    font-size: 1em;
    color: #000000;
    float: left;
    padding-top: 0.2em;
}
li .earthquaketitle {
    padding-bottom: 0.5em;
}
li input {
    width: 100%;
}
#projectssearch {
    width: 90%;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 3%;
}
.ui-autocomplete {
    font-family: inherit;
    font-size: 1em;
}
.ui-widget-content .ui-state-focus {
    background: #E4DADA;
    border-bottom-style: solid;
    border-bottom-color: #B9C0C5;
    border-bottom-width: 0.1em;
}
li a, li .sub {
    font-size: 80%;
    color: #999;
    text-decoration: none;
    float: right;
    clear: left;
    margin-top: 0.1em;
}

li a:hover {
    text-decoration: underline;
}
@media (min-width: 800px) {
    #footer {
        height: 10%;
        clear: both;
        background-color: #302D3A;
    }
    #map {
        position: relative;
        width: 80%;
        height: 90%;
        float: left;
    }
    #sidebar {
        position: static;
        width: 20%;
        height: 90%;
        float: right;
    }
    #showSidebar {
        visibility: hidden;
    }
    li:hover {
        background-color: #E4DADA; 
    }
    li:hover a, li:hover .sub {
        color: #756C6C;
    }
    #hideSidebar {
        display: none;
    }
}
li.active {
    background-color: #cb2944;
}
li.active a, li.active .sub {
    color: #000000;
}
#showSidebar {
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    z-index: 100;
}
#hideSidebar {
    float: right;
    padding-top: 5px;
    padding-right: 10px;
}
@font-face {
	font-family: 'mineeyes-fonts';
	src:url('fonts/mineeyes-fonts.eot?-5uaslu');
	src:url('fonts/mineeyes-fonts.eot?#iefix-5uaslu') format('embedded-opentype'),
		url('fonts/mineeyes-fonts.woff?-5uaslu') format('woff'),
		url('fonts/mineeyes-fonts.ttf?-5uaslu') format('truetype'),
		url('fonts/mineeyes-fonts.svg?-5uaslu#mineeyes-fonts') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'mineeyes-fonts';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-eye:before {
	content: "\e600";
    font-size: 5em;
}
.icon-hammer:before {
	content: "\e601";
}
.icon-warning:before {
	content: "\e602";
}
.icon-bullhorn:before {
	content: "\e603";
}
.icon-menu:before {
	content: "\e604";
    font-size: 3em;
}
.icon-earth:before {
    content: "\e605";
    font-size: 2em;
}

.tabs {
    position: relative;   
    min-height: 100%; /* This part sucks */
}
.tab {
    float: left;
    padding-top: 5px;
}
.tab label {
    padding: 10px; 
    border: 1px solid #B9C0C5; 
    margin-left: -1px; 
    margin-top: 5px;
    position: relative;
    left: 1px;
    font-size: 2em;
}
.tab [type=radio] {
    display: none;   
}
.content {
    position: absolute;
    top: 2.85em;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f4f4f4;
    overflow: auto;
}
.splitContent {
    overflow: auto;
    height: 40%;
}
.splitContentLabels {
    height: 5%;
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: 0.2m;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-color: #B9C0C5;
    border-bottom-width: 0.1em;
}
#filteredprojectslabel {
    border-top-style: solid;
    border-top-color: #B9C0C5;
    border-top-width: 0.1em;
}
[type=radio]:checked ~ label {
    background: #f4f4f4;
    border-bottom: 0.05em solid #f4f4f4;
    z-index: 20;
}
[type=radio]:checked ~ label ~ .content {
    z-index: 10;
}
#hexcontainer {
    float: right;
    margin-top: 15px;
    clear: left;
}
.hex {
    float: left;
    margin-left: 1px;
    margin-bottom: -13px;
}
.hex .top {
    width: 0;
    border-bottom: 15px solid;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
}
.hex .middle {
    width: 52px;
    height: 30px;
}
.hex .bottom {
    width: 0;
    border-top: 15px solid;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
}
#hex1top {
    border-bottom-color: #dadaeb;
}
#hex1middle {
    background-color: #dadaeb;
}
#hex1bottom {
    border-top-color: #dadaeb;
}
#hex2top {
    border-bottom-color: #bcbddc;
}
#hex2middle {
    background-color: #bcbddc;
}
#hex2bottom {
    border-top-color: #bcbddc;
}
#hex3top {
    border-bottom-color: #9e9ac8;
}
#hex3middle {
    background-color: #9e9ac8;
}
#hex3bottom {
    border-top-color: #9e9ac8;
}
#eye {
    color: #807dba;
}
.logo {
    font-family: "Avenir LT W01 35 Light", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 2.5em;
    letter-spacing: 0.02em;
    color: #807dba;
}
